<h1>Pirate</h1>
<p><%= @pirate.name %></p>
<p><%= @pirate.height %></p>
<p><%= @pirate.weight %></p>


<% @ships.each do |ship| %>
  <h2><% if ship == @ships[0] %>
      First 
     <% else %>
     Second
     <% end %> 
     Ship</h2>
     
  <%= ship.name %>
  <%= ship.type %>
  <%= ship.booty %>
<% end %>
